@font-face {
  font-family: "YoungSerif";
  src: url("/fonts/young-serif/YoungSerif-Regular.woff2") format("woff2"),
    url("/fonts/young-serif/YoungSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
